<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AgoraVoeux II{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script
			  src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"
			  integrity="sha256-0vBSIAi/8FxkNOSKyPEfdGQzFDak1dlqFKBYqBp1yC4="
			  crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{{ asset('js/app.js') }}"></script>
		<script language=javascript type="text/javascript">
		function addCode() {
			//~ var CheminComplet = document.location.href;
			//~ var NomDuFichier     = CheminComplet.substring(CheminComplet.indexOf( "/" ,7),);
			//~ alert ('NomDuFichier : \n'+NomDuFichier+' \n\n CheminComplet :\n ' +CheminComplet); 
			var lien = document.getElementsByTagName('li.liimg');
			for (var i = 0, c = lien.length ; i < c ; i++) {
				alert('Element n° ' + (i + 1) + ' : ' + lien[i]);

			}
		}
		</script>
	</head>
    <body onload= "addCode();" class="mien">
	
	<div id="top">
		
		<div id="header">
			<div id="logo">
				<h1>AgoraVoeux II</h1>
			</div>
			<div id="menu">
				<ul>
					<li class="encours liimg accueil" ><a href="/">Accueil</a></li>
					<li class="liimg agent"><a href="/agent">Agent</a></li>
					<li class="liimg voeux"><a href="/liste">Voeux</a></li>
				</ul>
			</div>
		</div>
		
	</div>

	
        {% for flashMessage in app.session.flashbag.all() %}
			<div class="flash-message alert alert-info" role="alert">
			{% for message in flashMessage %}
				{{ message }}
			</div>
			{% endfor %}
        {% endfor %}
	
	<div id="contener">
		
	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}	
	
    </div>
	<div id="footer">
	</div>

    </body>

</html>
