{%extends "::base.html.twig" %}
{% block body %}
<div class = "formulaire">
	<h3>Formulaire d'édition d'un agent</h3>
	<div class="well">
		<form class="form-horizontal">
			<script>
				var liste = [];
				{% for ville in touteslesvilles %}
					liste.push('{{ ville.nom }}');
				{% endfor %}
				$(document).ready(function(){
					$('#av_listevoeubundle_agent_domicile').autocomplete({
						source : function(request,response){
							var re = $.ui.autocomplete.escapeRegex(request.term);
							var matcher = new RegExp( "^" + re, "i" );
							var a = $.grep( liste, function(item,index){
								return matcher.test(item);
								});
							response(a);
						},
						minLength : 3,	
					});
				});
			</script>
			<div class="form-group">
				<div class="ui-widget">
					{{ form_label(formulaire.domicile, "Ville de résidence",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(formulaire.domicile) }}
					<div class="col-sm-9">
						{{ form_widget(formulaire.domicile,{'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<style type="text/css">
	.ui-autocomplete {
		float:left;
	}}
	input#av_listevoeubundle_agent_domicile {
		background: grey;
	}
</style>
{% endblock %}
