{%extends "::base.html.twig" %}
{% block body %}
    <h1>Liste {{ liste.nom }}</h1>
    <h2>Domicile {{ domicile.nom }}</h2>
    <table class="table table-condensed">
    <thead><tr><th>Résidence</th><th>Distance</th></tr></thead>
    <tbody>
	{% for ville,dist in villes %}
		<tr><td>{{ ville }}</td><td>{{ dist }}</td></tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
{% block javascripts %}
  <script>
    $( function() {
      $('tbody').sortable();

      $("#valider").click(function(){
        var result = "";
        $('.sorted_table tbody tr').each(function(){
          var res = $(this).find(".res").text();
          var pos = $(this).find(".pos").text();
          result += '['+res+'|'+pos+']';
        });
        alert(result);
      });
    });
  </script>
{% endblock %}
