{%extends "::base.html.twig" %}


{% block body %}
		
	
		<div class="image">
			<img src="{{ asset('images/pagedegarde.png') }}">
		</div>
		<div class="texte" >
		
			<h1>Bienvenue sur l'application AgoraVoeux II</h1></br>
			<p><h2>Cette application va vous permettre de générer rapidement une liste de voeux à partir de critères de distance. </h2></p>

		</div>
{% endblock %}	
